[Unit]
Description=SciNet Bot (docker-compose)
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/scinet          # <-- مسیر محل کلون رپو در سرورت رو اینجا بذار
ExecStart=/usr/bin/docker-compose -f docker-compose.prod.yml up -d
ExecStop=/usr/bin/docker-compose -f docker-compose.prod.yml down
TimeoutStartSec=600
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
